## Example .env --> to run yourself include your API keys below
## and create a standard .env in you local directory to use
## dont forget to keep em a secret 

# Database hook up
MONGO_URI=
#Auth token 
JWT_SECRET=

#for hosting on netlify...TODO: change for vercel 
CORS_ORIGINS=


# Connection to claude -> possibly other models in future
ANTHROPIC_API_KEY=